.playground {
  position: relative;
  width: 90%;
  margin: 30px auto;
}

.actions {
  text-align: center;
}

button {
  cursor: pointer;
  background-color: white;
  font-size: 3vw;
}

.display-board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.timer {
  font-size: 10rem;
  color: white;
}

.score-board {
  background-color: white;
  color: #101a2a;
  width: 35vw;
  height: 40vh;
  align-self: flex-end;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3vw;
}

.score-title {
  color: #101a2a;
  font-weight: bold;
  font-size: 2.5rem;
}


.options-board {
  height: 40vh;
  width: 30vw;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  font-size: 4vw;
  align-items: center;
  align-content: center;

  span {
    background: white;
    height: 7vh;
    width: 7vh;
    color: #101a2a;
    border-radius: 10%;
    display: flex;
    margin: 2px 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  span.right {
    background: rgb(128, 233, 133);
  }
  
  span.wrong {
    background: rgb(243, 52, 52);
  }
}

.help {
  position: fixed;
  bottom: 0;
  left: 5px;
  font-size: 1vw;
  color: white;
  font-family: monospace;
  width: 50%;

}