<div class="playground">
  <app-staff staffType="TREBLE"></app-staff>
  <app-staff staffType="BASS"></app-staff>
  <app-crotchet [note]="currentNote"></app-crotchet>
</div>

<div class="display-board">
  <div class="actions">
    <button type="button" (click)="startTraining()" *ngIf="!isTrainingStarted">
      Get started!
    </button>
    <button type="button" (click)="restartTraining()" *ngIf="isTrainingStarted">Restart!
    </button>
  </div>
  <div class="keypress-board">
    <div class="pressed-key" *ngIf="showPressedKey" [ngClass]="keyPressClass">{{pressedKey}}</div>
  </div>
  <div class="timer">{{secondsLeft}}</div>
  <div class="score-board">
    <!-- <div class="score-title">Scoreboard</div> -->
    <div class="scores">
      Score : {{currentScore}} <br />
      Current Streak : {{currentStreak}} <br />
      Max Streak : {{maxStreak}} <br />
      Max Score : {{maxScore}} <br />
    </div>
  </div>
</div>