<div class="playground">
  <app-staff staffType="TREBLE"></app-staff>
  <app-staff staffType="BASS"></app-staff>
  <app-crotchet [note]="currentNote"></app-crotchet>
</div>
<div class="actions">
  <button type="button" (click)="startTraining()" *ngIf="!isTrainingStarted">
    Get started!
  </button>
  <button type="button" (click)="restartTraining()" *ngIf="isTrainingStarted">Restart!
  </button>
</div>
<div class="display-board" *ngIf="isTrainingStarted">
  <!-- <div class="help">Quick Tip : You can also press keys on your computer keyboard/digital keyboard to train!</div> -->
  
  <div class="options-board">
    <span *ngFor="let opt of options"
     (click)="pressed(opt.value)"
     [ngClass]="opt.class">{{opt.value.toUpperCase()}}</span>
  </div>
  <div class="score-board">
    <div class="scores">
      <strong>Time Left: {{secondsLeft}} </strong> <br />
      Score : {{currentScore}} <br />
      Current Streak : {{currentStreak}} <br />
      Max Streak : {{maxStreak}} <br />
      Max Score : {{maxScore}} <br />
    </div>
  </div>
</div>