.crotchet {
  position: absolute;
  height: 50px;
  width: 50px;
  left: 250px;
  background-image: url('../../assets/crotchet.svg');
  background-repeat: no-repeat;
}

.hide {
  display: none;
}

.treble-c-1 {
  bottom: 200px;
}

.treble-d-1 {
  bottom: 210px;
}

.treble-e-1 {
  bottom: 220px;
}

.treble-f-1 {
  bottom: 230px;
}

.treble-g-1 {
  bottom: 240px;
}

.treble-a-1 {
  bottom: 250px;
}

.treble-b-1 {
  bottom: 260px;
}

.treble-c-2 {
  bottom: 270px;
}

.treble-d-2 {
  bottom: 280px;
}

.treble-e-2 {
  bottom: 290px;
}

.treble-f-2 {
  bottom: 300px;
}