:host {
  display: block;
}

.staff-container {
  background-color: white;
  position: relative;
  height: 180px;
  width: 100%;
  padding: 50px 0px;
}

.staff-section {
  border: 1px solid black;
  height: 20px;
  background-color: white;
}

.staff-bg-treble {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 0;
  top: 50px;
  background-image: url('../../assets/treble.svg');
  background-size: 80px 80px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.staff-bg-bass {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 0;
  bottom: 50px;
  background-image: url('../../assets/bass.svg');
  background-size: 80px 80px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}