:host {
  display: block;
}

$section-height : 3vh;

.staff-container {
  background-color: white;
  position: relative;
  width: 100%;
  padding: $section-height 0px;
}

.staff-section {
  border: 1px solid black;
  height: $section-height;
  background-color: white;
}

.staff-bg-treble {
  position: absolute;
  height: $section-height*4;
  width: $section-height*4;
  left: 0;
  top: $section-height;
  background-image: url('../../assets/treble.svg');
  background-size: $section-height*4 $section-height*4;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.staff-bg-bass {
  position: absolute;
  height: $section-height*4;
  width: $section-height*4;
  left: 0;
  bottom: $section-height;
  background-image: url('../../assets/bass.svg');
  background-size: $section-height*4 $section-height*4;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}