
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Rock+Salt&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Rock Salt', cursive;
}

body {
  background-color: #101a2a;
}